@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
h2, p, nav, button{
    font-family: "Quicksand", sans-serif;


}
a{
    text-decoration: none;
    color: #fff;
}
body{
    color: #fff;
    background-color: #2bb5ec;
   
    background-image:radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 72% 6%, rgb(20, 20, 194) 0px, transparent 70%),
        radial-gradient(at 24% 19%, rgb(34, 68, 236) 0px, transparent 100%),
        radial-gradient(at 65% 6%, rgb(41, 59, 222) 0px, transparent 50%),
        radial-gradient(at 20% 98%, rgb(35, 51, 236) 0px, transparent 50%),
        radial-gradient(at 44% 9%, rgb(7, 16, 186) 0px, transparent 50%),
        radial-gradient(at 10% 9%, rgb(48, 41, 224) 0px, transparent 50%) ;
    min-width: 100vh;
}
.container{
    display: flex;
    justify-content: center ;
}
.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}
ul.nav-links{
    margin: 0;
    margin-right: 100px;
    float: right;
    display: flex;
    list-style: none;
}
.attrebute{
    font-family: "Pacifico", sans-serif;
}
li.nav-link{
    display: inline-block;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 300;
}
.content{
    display: flex;
    width: 100%;
}
.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 10px;
}
.main h2{
    font-size: 35px;
    margin-left: 40px;
}
button{
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #fff;
    color: blue;
    border-color: transparent;
}
.image-wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
}
.image-wrapper img{
    max-width: 500px;
}
@media screen and (max-width: 1075px) {
    .content{
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 13px;
    }
    .image-wrapper img{
        max-width: 400px;
    }
}
.main p{
    font-size: 16px;
    line-height: 23px;
}
.attrebute{
    margin-top: 40px;
    margin-left: 80px;
    font-size: 30px;
}